:root {
  --primaryColor: #03045e;
  --headline: #48cae4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #570bad21;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  margin: 3rem 0 2rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 0.9rem;
}

.navbar {
  width: 100%;
}
.navbar .navbar__container {
  max-width: 1120px;
  height: 80px;
  margin: 0 auto;
}
.navbar .navbar__container .navbar__wrapper {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar__container .navbar__wrapper .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar .navbar__container .navbar__wrapper .logo .header__logo-icon {
  color: var(--primaryColor);
  font-size: 3rem;
  margin-right: 5px;
}
.navbar .navbar__container .navbar__wrapper .logo .header__logo {
  font-size: 1.56rem;
  font-weight: 600;
  color: var(--primaryColor);
}
.navbar .navbar__container .navbar__wrapper .nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .navbar__container .navbar__wrapper .nav .nav__menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item {
  margin-right: 30px;
}
.navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item .nav__link {
  color: #03045e;
  font-size: 1.02rem;
  font-weight: 500;
}
.navbar .navbar__container .navbar__wrapper .close__menu,
.navbar .navbar__container .navbar__wrapper .menu__toggle {
  display: none;
}

section.hero .hero__container {
  max-width: 1120px;
  margin: 0 auto;
}
section.hero .hero__container .hero__wrapper {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.hero .hero__container .hero__wrapper .hero__content {
  padding: 50px 0;
}
section.hero .hero__container .hero__wrapper .hero__content .headline {
  color: var(--headline);
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
section.hero .hero__container .hero__wrapper .hero__content .heading {
  color: var(--primaryColor);
  font-weight: 700;
  margin-bottom: 20px;
}
section.hero .hero__container .hero__wrapper .hero__content .description {
  color: #777;
  font-weight: 500;
  margin-bottom: 20px;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button .btn__watch {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button .btn__watch .btn__outline {
  color: #03045e;
  font-size: 1.05rem;
  font-weight: 600;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button .btn__watch .play__btn {
  font-size: 1.54rem;
  margin-right: 5px;
  color: var(--primaryColor);
  background: #fff;
  padding: 1rem 1rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 5px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img {
  position: relative;
  flex-basis: 50%;
  width: 100%;
  height: 500px;
}
section.hero .hero__container .hero__wrapper .hero__img img {
  width: 100%;
  height: 100%;
  border-radius: 0 30% 0 30%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 5px 5px 10px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img::after {
  content: "";
  width: 80%;
  height: 80%;
  background: var(--headline);
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: block;
  z-index: -1;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats {
  position: absolute;
  bottom: 20px;
  left: -100px;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 5px 5px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__content {
  text-align: center;
  padding: 0.5rem 1rem;
  color: #777;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__content p {
  font-size: 0.65rem;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__content h3 {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--primaryColor);
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__img {
  width: 120px;
  margin: 0 auto;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__img img {
  width: 100%;
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment {
  position: absolute;
  top: 100px;
  right: -100px;
  width: 250px;
  height: 60px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment .chat {
  background: #ff006e;
  padding: 0.65rem 0.65rem;
  color: #fff;
  font-size: 1.6rem;
  margin-right: 10px;
  border-radius: 10px;
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment .comment__content h3 {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 1.3rem;
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment .comment__content p {
  color: #777;
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 3px;
}
section.hero .hero__container .partners__logos {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.hero .hero__container .partners__logos .brand__logo {
  width: 150px;
}
section.hero .hero__container .partners__logos .brand__logo img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 1s ease;
}
section.hero .hero__container .partners__logos .brand__logo img:hover {
  filter: grayscale(0%);
  transform: translateY(-5px) scale(1.05);
  transition: all 1s ease;
}

.btn__primary {
  color: #fff;
  font-size: 0.9rem;
  background: var(--primaryColor);
  padding: 1rem 1.6rem;
  border-radius: 10px;
  border: none;
  transition: 0.5s ease;
}
.btn__primary:hover {
  transform: scale(1.05) translateY(-5px);
  transition: 0.5s ease;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 48px;
    justify-content: space-between;
  }
  .navbar .navbar__container .navbar__wrapper .menu__toggle {
    display: inline;
    color: #03045e;
    font-size: 1.3rem;
  }
  .navbar .navbar__container .navbar__wrapper .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #03045e;
    height: 100vh;
    width: 70%;
    transition: 0.5s ease;
    z-index: 999;
    padding: 2rem 0;
  }
  .navbar .navbar__container .navbar__wrapper .nav.show {
    right: 0;
  }
  .navbar .navbar__container .navbar__wrapper .nav .btn__primary {
    border: 2px solid #fff;
    border-radius: 10px;
  }
  .navbar .navbar__container .navbar__wrapper .nav .nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item {
    margin: 1.5rem 0;
    text-align: center;
  }
  .navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item .nav__link {
    color: #fff;
  }
  .navbar .navbar__container .navbar__wrapper .nav .close__menu {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 2rem;
    color: #fff;
    display: block;
    transition: all 0.5s ease;
  }
  .navbar .navbar__container .navbar__wrapper .nav .close__menu:hover {
    transform: translateY(-5px) scale(1.05);
    transition: all 0.5s ease;
  }

  section.hero {
    margin-top: -2rem;
  }
  section.hero .hero__container .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  section.hero .hero__container .hero__wrapper .hero__content .heading {
    font-size: 2.2rem;
  }
  section.hero .hero__container .hero__wrapper .hero__content .description {
    font-size: 0.85rem;
    max-width: 300px;
  }
  section.hero .hero__container .hero__wrapper .hero__content .btn__primary {
    padding: 1.2rem 1.2rem;
  }
  section.hero .hero__container .hero__wrapper .hero__img .card__stats {
    display: none;
  }
  section.hero .hero__container .hero__wrapper .hero__img .card__comment {
    display: none;
  }
  section.hero .hero__container .partners__logos {
    padding: 0 1rem;
  }
  section.hero .hero__container .partners__logos .brand__logo {
    width: 120px;
    margin: 20px 0;
  }
}
@media screen and (max-width: 480px) {
  section.hero .hero__container .hero__wrapper .hero__content h1 {
    font-size: 1.8rem;
  }
  section.hero .hero__container .hero__wrapper .hero__content .btn__primary {
    padding: 1.2rem 2rem;
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=styles.css.map */