:root {
  --primaryColor: #03045e;
  --headline: #48cae4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ecf5ff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  margin: 3rem 0 2rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 0.9rem;
}

.navbar {
  width: 100%;
}
.navbar .navbar__container {
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
}
.navbar .navbar__container .navbar__wrapper {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar__container .navbar__wrapper .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar .navbar__container .navbar__wrapper .logo .header__logo-icon {
  color: var(--primaryColor);
  font-size: 3rem;
  margin-right: 5px;
}
.navbar .navbar__container .navbar__wrapper .logo .header__logo {
  font-size: 1.56rem;
  font-weight: 600;
  color: var(--primaryColor);
}
.navbar .navbar__container .navbar__wrapper .nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .navbar__container .navbar__wrapper .nav .nav__menu {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item {
  margin-right: 30px;
}
.navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item .nav__link {
  color: #03045e;
  font-size: 1.02rem;
  font-weight: 500;
}
.navbar .navbar__container .navbar__wrapper .close__menu,
.navbar .navbar__container .navbar__wrapper .menu__toggle {
  display: none;
}

section.hero .hero__container {
  max-width: 1280px;
  margin: 0 auto;
}
section.hero .hero__container .hero__wrapper {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.hero .hero__container .hero__wrapper .hero__content {
  padding: 50px 0;
}
section.hero .hero__container .hero__wrapper .hero__content .headline {
  color: var(--headline);
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
section.hero .hero__container .hero__wrapper .hero__content .heading {
  color: var(--primaryColor);
  font-weight: 700;
  margin-bottom: 20px;
}
section.hero .hero__container .hero__wrapper .hero__content .description {
  color: #777;
  font-weight: 500;
  margin-bottom: 20px;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button .btn__watch {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button .btn__watch .btn__outline {
  color: #03045e;
  font-size: 1.05rem;
  font-weight: 600;
}
section.hero .hero__container .hero__wrapper .hero__content .hero__button .btn__watch .play__btn {
  font-size: 1.54rem;
  margin-right: 5px;
  color: var(--primaryColor);
  background: #fff;
  padding: 1rem 1rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 5px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img {
  position: relative;
  flex-basis: 50%;
  width: 100%;
  height: 500px;
}
section.hero .hero__container .hero__wrapper .hero__img img {
  width: 100%;
  height: 100%;
  border-radius: 0 30% 0 30%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 5px 5px 10px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img::after {
  content: "";
  width: 80%;
  height: 80%;
  background: var(--headline);
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: block;
  z-index: -1;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats {
  position: absolute;
  bottom: 20px;
  left: -50px;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 2px 5px 5px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__content {
  text-align: center;
  padding: 0.5rem 1rem;
  color: #777;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__content p {
  font-size: 0.65rem;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__content h3 {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--primaryColor);
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__img {
  width: 120px;
  margin: 0 auto;
}
section.hero .hero__container .hero__wrapper .hero__img .card__stats .stats__img img {
  width: 100%;
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment {
  position: absolute;
  top: 100px;
  right: -100px;
  width: 250px;
  height: 60px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(var(--primaryColor), 0.2);
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment .chat {
  background: #ff006e;
  padding: 0.65rem 0.65rem;
  color: #fff;
  font-size: 1.6rem;
  margin-right: 10px;
  border-radius: 10px;
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment .comment__content h3 {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 1.3rem;
}
section.hero .hero__container .hero__wrapper .hero__img .card__comment .comment__content p {
  color: #777;
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 3px;
}
section.hero .hero__container .partners__logos {
  margin: 3rem 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.hero .hero__container .partners__logos .brand__logo {
  width: 150px;
}
section.hero .hero__container .partners__logos .brand__logo img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 1s ease;
}
section.hero .hero__container .partners__logos .brand__logo img:hover {
  filter: grayscale(0%);
  transform: translateY(-5px) scale(1.05);
  transition: all 1s ease;
}

section.steps {
  margin: 6rem 0 2rem;
}
section.steps .steps__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
section.steps .steps__container .topLine {
  color: var(--headline);
  font-size: 1.64rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: uppercase;
}
section.steps .steps__container .headLine {
  color: var(--primaryColor);
  font-size: 3.16rem;
  font-weight: 700;
  margin-bottom: 100px;
  text-transform: capitalize;
}
section.steps .steps__container .steps__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.steps .steps__container .steps__wrapper .leftSide {
  position: relative;
  margin-right: 20px;
}
section.steps .steps__container .steps__wrapper .leftSide .sectionImg {
  position: relative;
  width: 500px;
  margin-right: 30px;
}
section.steps .steps__container .steps__wrapper .leftSide .sectionImg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  border-radius: 0 25% 0 25%;
}
section.steps .steps__container .steps__wrapper .leftSide .sectionImg::after {
  content: "";
  width: 80%;
  height: 80%;
  background: #e85d04;
  opacity: 0.65;
  position: absolute;
  bottom: -10px;
  right: -20px;
  display: block;
  z-index: -1;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card {
  width: 250px;
  background: #fff;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: -60px;
  left: 60px;
  text-align: center;
  box-shadow: 1px 10px 2px 0px rgba(203, 234, 252, 0.75);
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .heart {
  padding: 0.65rem 0.75rem;
  background: var(--primaryColor);
  color: #fff;
  font-size: 1.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  transform: translateY(-20px);
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .status {
  display: block;
  width: 100px;
  background: #caf0f8;
  color: #0077b6;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 20px;
  transform: translateX(20px);
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__img {
  width: 80px;
  height: 80px;
  border-radius: none;
  border-radius: 50%;
  margin: 0 auto;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__info {
  padding: 0.5rem 1rem;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__info h3 {
  font-size: 0.95rem;
  color: #03045e;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__info .position {
  color: #777;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 5px;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__info .ratings {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__info .ratings i {
  color: #e85d04;
  margin-right: 3px;
  font-size: 0.75rem;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__info .ratings .rating__fig {
  color: var(--primaryColor);
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 5px;
}
section.steps .steps__container .steps__wrapper .leftSide .active__card .profile__info .ratings .rating__fig span {
  color: #777;
  font-size: 0.65rem;
}
section.steps .steps__container .steps__wrapper .leftSide .num-card {
  width: 250px;
  height: 50px;
  padding: 2.5rem 1rem;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(203, 234, 252, 0.75);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 60px;
  right: -100px;
}
section.steps .steps__container .steps__wrapper .leftSide .num-card i {
  background-color: #ff006e;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.35rem;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.steps .steps__container .steps__wrapper .leftSide .num-card .card_content h3 {
  font-size: 0.95rem;
  color: var(--primaryColor);
  font-weight: 600;
  margin-bottom: 5px;
}
section.steps .steps__container .steps__wrapper .leftSide .num-card .card_content p {
  color: #777;
  font-size: 0.75rem;
  font-weight: 500;
}
section.steps .steps__container .steps__wrapper .rightSide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
section.steps .steps__container .steps__wrapper .rightSide .steps__card {
  position: relative;
  width: 220px;
  height: 300px;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: -3px 10px 10px 0px rgba(203, 234, 252, 0.75);
}
section.steps .steps__container .steps__wrapper .rightSide .steps__card .inst__num {
  background: #caf0f8;
  border: none;
  border-radius: 50%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0077b6;
  font-size: 2.16rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: -20px;
  right: -20px;
}
section.steps .steps__container .steps__wrapper .rightSide .steps__card ion-icon {
  font-size: 2.1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 32px;
  color: #03045e;
}
section.steps .steps__container .steps__wrapper .rightSide .steps__card .card__content {
  padding: 0 1rem;
}
section.steps .steps__container .steps__wrapper .rightSide .steps__card .card__content h3 {
  font-size: 1.25rem;
  color: #03045e;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}
section.steps .steps__container .steps__wrapper .rightSide .steps__card .card__content .instructions {
  font-size: 0.95rem;
  color: #777;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
}

section.languages {
  margin: 10rem 0 2rem;
}
section.languages .languages__container {
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}
section.languages .languages__container .topLine {
  text-transform: uppercase;
  font-size: 1.64rem;
  font-weight: 600;
  color: var(--headline);
  margin-bottom: 30px;
}
section.languages .languages__container .headLine {
  color: var(--primaryColor);
  font-size: 3.16rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}
section.languages .languages__container .languages__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
}
section.languages .languages__container .languages__wrapper .languages__content .languages__title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primaryColor);
  margin-bottom: 20px;
  text-transform: capitalize;
}
section.languages .languages__container .languages__wrapper .languages__content .languages__title span {
  color: #ff006e;
}
section.languages .languages__container .languages__wrapper .languages__content .language__description {
  max-width: 550px;
  color: #777;
  font-weight: normal;
  line-height: 2;
  font-size: 1.25rem;
}
section.languages .languages__container .languages__wrapper .languages__content .languages__button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  width: 80%;
  padding: 1rem 0;
}
section.languages .languages__container .languages__wrapper .languages__content .languages__button .btn__watch {
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.languages .languages__container .languages__wrapper .languages__content .languages__button .btn__watch i {
  background: #fff;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primaryColor);
  font-size: 1.54rem;
  margin-right: 3px;
  border: none;
  border-radius: 50%;
  box-shadow: -3px 5px 10px rgba(203, 234, 252, 0.75);
}
section.languages .languages__container .languages__wrapper .languages__content .languages__button .btn__watch .btn__outline {
  color: var(--primaryColor);
  font-weight: 600;
  margin-left: 3px;
}
section.languages .languages__container .languages__wrapper .languages__img {
  position: relative;
}
section.languages .languages__container .languages__wrapper .languages__img .img {
  width: 550px;
  height: 580px;
}
section.languages .languages__container .languages__wrapper .languages__img .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 30% 0 30%;
}
section.languages .languages__container .languages__wrapper .languages__img .img::after {
  content: "";
  width: 80%;
  height: 80%;
  background: #005327;
  opacity: 0.95;
  position: absolute;
  bottom: -10px;
  right: -15px;
  display: block;
  z-index: -1;
}
section.languages .languages__container .languages__wrapper .languages__img .img .pricing__card {
  position: absolute;
  top: 50px;
  left: -100px;
  width: 220px;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: -3px 1px 5px rgba(203, 234, 252, 0.75);
}
section.languages .languages__container .languages__wrapper .languages__img .img .pricing__card ion-icon {
  background: var(--headline);
  color: #fff;
  padding: 0.85rem 0.85rem;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform: translateY(-20px);
}
section.languages .languages__container .languages__wrapper .languages__img .img .pricing__card .heading {
  color: #777;
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
}
section.languages .languages__container .languages__wrapper .languages__img .img .pricing__card .content .amount {
  font-size: 2.26rem;
  font-weight: 600;
  color: var(--primaryColor);
  text-align: center;
  margin-bottom: 5px;
}
section.languages .languages__container .languages__wrapper .languages__img .img .pricing__card .content .amount__desc {
  font-size: 0.8rem;
  color: #777;
  font-weight: normal;
  text-align: center;
  padding: 0 0.85rem;
  padding-bottom: 0.56rem;
}
section.languages .languages__container .languages__wrapper .languages__img .img .how__to-card {
  position: absolute;
  right: 100px;
  bottom: -100px;
  padding: 0.5rem 0.5rem;
  width: 250px;
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 5px 5px rgba(203, 234, 252, 0.75);
}
section.languages .languages__container .languages__wrapper .languages__img .img .how__to-card .img__flag {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: none;
  margin: 20px auto;
}
section.languages .languages__container .languages__wrapper .languages__img .img .how__to-card .img__flag img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
section.languages .languages__container .languages__wrapper .languages__img .img .how__to-card .title {
  padding: 0.2rem 1.3rem;
  font-size: 1.45rem;
  text-align: center;
  color: var(--primaryColor);
}
section.languages .languages__container .languages__wrapper .languages__img .img .how__to-card .title span {
  color: #ff006e;
}
section.languages .languages__container .languages__wrapper .languages__img .img .how__to-card .desc p {
  font-size: 0.85rem;
  font-weight: normal;
  color: #777;
  padding: 0.3rem 0.75rem;
  text-align: center;
}

section.pricing {
  margin: 10rem 0 2rem;
  background: #f4f4f4;
}
section.pricing .pricing__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 20px;
}
section.pricing .pricing__container .topLine {
  font-size: 1.65rem;
  font-weight: 600;
  color: var(--headline);
  text-transform: uppercase;
  margin-bottom: 30px;
}
section.pricing .pricing__container .headLine {
  color: var(--primaryColor);
  text-transform: capitalize;
  font-size: 3.16rem;
  font-weight: 700;
  margin-bottom: 20px;
}
section.pricing .pricing__container .pricing__desc {
  font-size: 1.35rem;
  text-transform: capitalize;
  margin-bottom: 20px;
  font-weight: normal;
  color: #242020;
}
section.pricing .pricing__container .pricing__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card {
  width: 450px;
  background: #d7ebff;
  border-radius: 50px;
  border: none;
  margin-right: 20px;
  margin-top: 50px;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .title {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: 2.25rem;
  text-transform: capitalize;
  text-align: center;
  padding: 0.5rem 0.8rem;
  margin-top: 3rem;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .subtitle {
  font-size: 1.95rem;
  color: var(--headline);
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
  margin-bottom: 40px;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .subtitle span {
  color: #777;
  font-size: 1.65rem;
  font-weight: 500;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card hr {
  padding: 0 2rem;
  width: 80%;
  margin: 0 auto;
  background-color: #d7ebff;
  opacity: 0.75;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .package__list {
  padding: 2.5rem 3rem;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .package__list .package__items {
  margin-bottom: 40px;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .package__list .package__items .package {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .package__list .package__items .package i {
  color: var(--headline);
  margin-right: 10px;
  font-size: 1.25rem;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .package__list .package__items .package i.fa-times {
  color: #a70b0b;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .package__list .package__items .package p {
  font-size: 1.15rem;
  color: var(--primaryColor);
  font-weight: 500;
  text-transform: capitalize;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card .package__list a {
  background: transparent;
  border: 2px solid var(--headline);
  padding: 2rem 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--headline);
  font-size: 1.25rem;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card:nth-child(2) {
  background: #03045e;
  transform: scale(1.01);
  box-shadow: -3px 10px 10px 0px rgba(203, 234, 252, 0.75);
}
section.pricing .pricing__container .pricing__wrapper .pricing__card:nth-child(2) .title {
  color: #fff;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card:nth-child(2) .subtitle span {
  color: #fff;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card:nth-child(2) .package__list .package__items .package p {
  color: #fff;
}
section.pricing .pricing__container .pricing__wrapper .pricing__card:nth-child(2) .package__list a {
  background: var(--headline);
  color: #fff;
}

section.comments {
  margin: 6rem 0 2rem;
}
section.comments .comments__container {
  max-width: 1280px;
  padding: 30px 20px;
  margin: 0 auto;
}
section.comments .comments__container .topLine {
  color: var(--headline);
  font-size: 1.65rem;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}
section.comments .comments__container .headLine {
  font-size: 3.16rem;
  color: var(--primaryColor);
  font-weight: 700;
  margin-bottom: 50px;
}
section.comments .comments__container .comments__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.comments .comments__container .comments__wrapper .prev__button {
  height: 100px;
  width: 100px;
  padding: 2rem 2rem;
  color: var(--headline);
  background: #fff;
  font-size: 3rem;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50px);
  box-shadow: -3px 10px 10px 0px rgba(203, 234, 252, 0.75);
}
section.comments .comments__container .comments__wrapper .next__button {
  height: 100px;
  width: 100px;
  padding: 2rem 2rem;
  color: #fff;
  background: var(--headline);
  font-size: 3rem;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50px);
  box-shadow: -3px 10px 10px 0px rgba(203, 234, 252, 0.75);
  transition: 0.5s ease;
}
section.comments .comments__container .comments__wrapper .comment__card {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: -3px 10px 10px 0px rgba(203, 234, 252, 0.75);
}
section.comments .comments__container .comments__wrapper .comment__card .card__content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.comments .comments__container .comments__wrapper .comment__card .card__content .img__wrapper {
  flex-basis: 40%;
  width: 90%;
  height: 90%;
  border-radius: 20px;
}
section.comments .comments__container .comments__wrapper .comment__card .card__content .img__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
section.comments .comments__container .comments__wrapper .comment__card .card__content .comment__content {
  margin-left: 50px;
  margin-right: 20px;
  flex-basis: 60%;
  text-align: center;
}
section.comments .comments__container .comments__wrapper .comment__card .card__content .comment__content i {
  color: var(--headline);
  font-size: 3.16rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
section.comments .comments__container .comments__wrapper .comment__card .card__content .comment__content p {
  color: #777;
  line-height: 2;
  font-size: 1.12rem;
}
section.comments .comments__container .comments__wrapper .comment__card .card__content .comment__content h3 {
  margin-top: 30px;
  color: var(--primaryColor);
  font-size: 1.24rem;
  margin-bottom: 10px;
  font-weight: 600;
}
section.comments .comments__container .comments__wrapper .comment__card .card__content .comment__content h4 {
  color: #777;
  font-weight: 600;
}

section.footer {
  width: 100%;
  background: var(--primaryColor);
  margin-top: 6rem;
  margin-bottom: 0;
  padding-right: 80px;
  padding-left: 80px;
}
section.footer .footer__container {
  padding: 10px 20px;
}
section.footer .footer__container .footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
section.footer .footer__container .footer__wrapper .col {
  margin-right: 30px;
  padding: 3.5rem 0;
}
section.footer .footer__container .footer__wrapper .col .logo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
section.footer .footer__container .footer__wrapper .col .logo ion-icon {
  margin-right: 5px;
  color: #fff;
  font-size: 2.65rem;
  display: inline;
}
section.footer .footer__container .footer__wrapper .col h2 {
  color: #fff;
  font-weight: 600;
  font-size: 2.45rem;
  margin-bottom: 30px;
}
section.footer .footer__container .footer__wrapper .col ul {
  color: #fff;
}
section.footer .footer__container .footer__wrapper .col ul li {
  margin-bottom: 30px;
}
section.footer .footer__container .footer__wrapper .col ul li a {
  color: #fff;
  font-size: 1.04rem;
  transition: all 0.5s ease;
}
section.footer .footer__container .footer__wrapper .col ul li a:hover {
  color: var(--headline);
}
section.footer .footer__container .footer__wrapper .col .social__icons {
  margin-top: 10px;
}
section.footer .footer__container .footer__wrapper .col .social__icons i {
  margin-right: 5px;
  color: #fff;
  font-size: 1.85rem;
}
section.footer .footer__container .footer__wrapper form {
  margin-bottom: 20px;
  background: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.footer .footer__container .footer__wrapper form ion-icon {
  padding: 1rem 1rem;
  background: var(--primaryColor);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
section.footer .footer__container .footer__wrapper form input {
  outline: none;
  border: none;
  font-size: 1.05rem;
}
section.footer .footer__container .footer__wrapper form input::-moz-placeholder {
  color: var(--primaryColor);
  font-family: "Poppins", sans-serif;
}
section.footer .footer__container .footer__wrapper form input:-ms-input-placeholder {
  color: var(--primaryColor);
  font-family: "Poppins", sans-serif;
}
section.footer .footer__container .footer__wrapper form input::placeholder {
  color: var(--primaryColor);
  font-family: "Poppins", sans-serif;
}
section.footer .footer__container .footer__wrapper form input:focus {
  outline: none;
  border: none;
}
section.footer hr {
  width: 100%;
}
section.footer p {
  color: #fff;
  font-size: 0.95rem;
  text-align: center;
}

.btn__primary {
  color: #fff;
  font-size: 0.9rem;
  background: var(--primaryColor);
  padding: 1rem 1.6rem;
  border-radius: 10px;
  border: none;
  transition: 0.5s ease;
}
.btn__primary:hover {
  transform: scale(1.05) translateY(-5px);
  transition: 0.5s ease;
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 48px;
    justify-content: space-between;
  }
  .navbar .navbar__container .navbar__wrapper .menu__toggle {
    display: inline;
    color: #03045e;
    font-size: 1.3rem;
  }
  .navbar .navbar__container .navbar__wrapper .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #03045e;
    height: 100vh;
    width: 70%;
    transition: 0.5s ease;
    z-index: 999;
    padding: 2rem 0;
  }
  .navbar .navbar__container .navbar__wrapper .nav.show {
    right: 0;
  }
  .navbar .navbar__container .navbar__wrapper .nav .btn__primary {
    border: 2px solid #fff;
    border-radius: 10px;
  }
  .navbar .navbar__container .navbar__wrapper .nav .nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item {
    margin: 1.5rem 0;
    text-align: center;
  }
  .navbar .navbar__container .navbar__wrapper .nav .nav__menu .nav__item .nav__link {
    color: #fff;
  }
  .navbar .navbar__container .navbar__wrapper .nav .close__menu {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 2rem;
    color: #fff;
    display: block;
    transition: all 0.5s ease;
  }
  .navbar .navbar__container .navbar__wrapper .nav .close__menu:hover {
    transform: translateY(-5px) scale(1.05);
    transition: all 0.5s ease;
  }

  section.hero {
    margin-top: -2rem;
  }
  section.hero .hero__container .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  section.hero .hero__container .hero__wrapper .hero__content .heading {
    font-size: 2.2rem;
  }
  section.hero .hero__container .hero__wrapper .hero__content .description {
    font-size: 0.85rem;
    max-width: 300px;
  }
  section.hero .hero__container .hero__wrapper .hero__content .btn__primary {
    padding: 1.2rem 1.2rem;
  }
  section.hero .hero__container .hero__wrapper .hero__img .card__stats {
    display: none;
  }
  section.hero .hero__container .hero__wrapper .hero__img .card__comment {
    display: none;
  }
  section.hero .hero__container .partners__logos {
    padding: 0 1rem;
  }
  section.hero .hero__container .partners__logos .brand__logo {
    width: 120px;
    margin: 20px 0;
  }

  section.steps .steps__container .headLine {
    font-size: 2.2rem;
  }
  section.steps .steps__container .steps__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  section.steps .steps__container .steps__wrapper .leftSide {
    margin-top: -40px;
  }
  section.steps .steps__container .steps__wrapper .leftSide .sectionImg {
    width: 300px;
  }
  section.steps .steps__container .steps__wrapper .leftSide .active__card {
    display: none;
  }
  section.steps .steps__container .steps__wrapper .leftSide .num-card {
    display: none;
  }
  section.steps .steps__container .steps__wrapper .rightSide {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  section.languages .languages__container .headLine {
    font-size: 2.2rem;
  }
  section.languages .languages__container .languages__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
  section.languages .languages__container .languages__wrapper .languages__img {
    margin-top: -40px;
  }
  section.languages .languages__container .languages__wrapper .languages__img .img {
    width: 300px;
    height: 270px;
  }
  section.languages .languages__container .languages__wrapper .languages__img .img .pricing__card {
    display: none;
  }
  section.languages .languages__container .languages__wrapper .languages__img .img .how__to-card {
    display: none;
  }
  section.languages .languages__container .languages__wrapper .languages__content {
    margin-top: 50px;
  }
  section.languages .languages__container .languages__wrapper .languages__content .languages__title {
    font-size: 1.35rem;
  }
  section.languages .languages__container .languages__wrapper .languages__content .language__description {
    font-size: 1.15rem;
  }
  section.languages .languages__container .languages__wrapper .languages__content .languages__button {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  section.languages .languages__container .languages__wrapper .languages__content .languages__button .btn__primary {
    padding: 1.2rem 1.2rem;
  }

  section.pricing .pricing__container .headLine {
    font-size: 2.2rem;
  }
  section.pricing .pricing__container .pricing__desc {
    font-size: 1.05rem;
  }
  section.pricing .pricing__container .pricing__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.pricing .pricing__container .pricing__wrapper .pricing__card {
    width: 300px;
  }

  section.comments .comments__container .headLine {
    font-size: 2.2rem;
  }
  section.comments .comments__container .comments__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  section.comments .comments__container .comments__wrapper .prev__button {
    position: absolute;
    top: -10px;
    left: 60px;
  }
  section.comments .comments__container .comments__wrapper .next__button {
    position: absolute;
    bottom: -60px;
    right: 60px;
  }
  section.comments .comments__container .comments__wrapper .comment__card {
    margin-top: 60px;
    height: auto;
  }
  section.comments .comments__container .comments__wrapper .comment__card .card__content {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.comments .comments__container .comments__wrapper .comment__card .card__content .img__wrapper {
    width: 300px;
  }
  section.comments .comments__container .comments__wrapper .comment__card .card__content .comment__content i {
    margin-top: 30px;
    font-size: 2.45rem;
  }
  section.comments .comments__container .comments__wrapper .comment__card .card__content .comment__content p {
    font-size: 1.05rem;
    padding: 0.5rem 0.45rem;
    text-align: left;
  }

  section.footer .footer__container .footer__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  section.footer .footer__container .footer__wrapper .col {
    padding: 10px 0;
    margin-left: -30px;
  }
}
@media screen and (max-width: 480px) {
  section.hero .hero__container .hero__wrapper .hero__content h1 {
    font-size: 1.8rem;
  }
  section.hero .hero__container .hero__wrapper .hero__content .btn__primary {
    padding: 1.2rem 2rem;
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=styles.css.map */